{
  "theConfigMap": {
    "auto_start_hub": "0",
    "reboot_after_sessions": "10",
    "default_role": "node",
    "auto_update_browser_versions": "1",
    "video_recording_options": {
      "videos_to_keep": "40"
    },
    "node_config_files": [
      "node.json"
    ],
    "hub_config": {},
    "hub_config_files": [],
    "iedriver": {
      "version": "{{ie_driver_version}}"
    },
    "auto_start_node": "1",
    "auto_update_drivers": "0",
    "chromedriver": {
      "bit": "64",
      "version": "{{chrome_driver_version}}"
    },
    "webdriver": {
      "version": "{{server_version}}"
    },
    "log_maximum_age_ms": 864000000
  }
}