{
  "theConfigMap": {
    "auto_start_hub": "1",
    "default_role": "hub",
    "node_config_files": [],
    "hub_config": {},
    "hub_config_files": [
      "hub.json"
    ],
    "iedriver": {
      "version": "{{ie_driver_version}}"
    },
    "auto_start_node": "0",
    "auto_update_drivers": "0",
    "chromedriver": {
      "bit": "32",
      "version": "{{chrome_driver_version}}"
    },
    "webdriver": {
      "version": "{{server_version}}"
    },
    "log_maximum_age_ms": 864000000
  }
}